[submodule "ConstellationEngineCore/vendor/glfw"]
	path = ConstellationEngineCore/vendor/glfw
	url = https://github.com/VedantS-32/glfw.git
[submodule "ConstellationEngineCore/vendor/glm"]
	path = ConstellationEngineCore/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "ConstellationEngineCore/vendor/tinyobjloader"]
	path = ConstellationEngineCore/vendor/tinyobjloader
	url = https://github.com/VedantS-32/tinyobjloader.git
